html, body {
	padding: 0;
	margin: 0;
	background-color: white;
	color: #606060;
	font-family: Verdana, sans-serif, arial;
	font-size: 1rem;
	line-height: 1.5;
}
* {
	box-sizing: border-box;
}
*::before, *::after {
	box-sizing:  inherit;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100vw; min-height: 100vh;
	overflow: hidden;
	
	/* Imagen de fondo */
	background-image: url('../imagen/tramado.png');
	background-position: left 100px;
	background-size: 80px auto;
	background-repeat: no-repeat;
}
.flotar-derecha {float: right;}
.none, .no-mostrar, .quitar {display: none !important;}
/* Parámetros predeterminados */
section {
	position: absolute;
	margin: auto;
}
.limpiar, .clear {clear:both !important;}

/* Menú de navegación */
@media screen and (min-width: 900px) {
	menu {
		list-style-type: none;
		display:  block;
		position: absolute;
		margin: auto;
		padding: 0;
		list-style-type: none;
		left: 0; right: 0;
		top: 0; bottom: auto;
		width:900px; height: 40px; line-height: 40px;
	}
		menu li {
			position: relative;
			float:left;
			width: 14.286%; height: 40px;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: 300ms ease all;
		}
			menu li a {
				display: block;
				position: absolute;
				margin: auto;
				left: 0; right: 0;
				top: 0; bottom: 0;
				text-decoration: none;
				color: rgba(255, 255, 255, 0.8);
				transition:300ms ease;
			}
			menu a::before {
				content: "";
				display: block;
				position: absolute;
				margin: auto;
				left: 0; right: 0;
				top: auto; bottom: 0;
				height: 0;
				border-bottom: 1px solid transparent;
				opacity: 0;
				transform: rotateY(90deg);
				/* Transiciones */
				transition: 300ms ease;
			}
			menu a:hover::before {
				transform: rotateY(0deg);
				border-bottom: 1px solid;
				opacity: 1;
			}
			menu li a:hover, menu li a:focus {
				background-color: rgba(255, 255, 255, 0.1);
			}
		/* No disponible durante la pantalla normal */
		div.lista-menu, div.menu {display:none;}
}
/* Menú contextual para dispositivo con pantallas pequeñas */
@media screen and (max-width: 899px) {
	footer menu {display: none;}
	div.lista-menu {
		position: absolute;
		margin: auto;
		left: 0; right: auto;
		top: auto; bottom: 0;
		width:350px; height: 600px;
		max-width: 100vw; max-height: 100vh;
		background-color: white;
		transition: 250ms ease all;
	}
		div.lista-menu div.enlaces {
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 40px; bottom: 0;
			background-color: #f0f0f0;
			overflow: auto;
		}
			div.lista-menu div.enlaces > div {
				position: relative;
				height: 40px; line-height: 40px;
				margin: 4px auto;
				transition: 300ms ease all;
			}
				div.lista-menu div.enlaces div > a {
					display:  block;
					position: absolute;
					margin: auto;
					left: 0; right: 0;
					top: 0; bottom: 0;
					text-decoration: none;
					color: #0080ff;
					outline: medium none;
					padding: 0 40px; padding-right: 10px;

					/* Imagen representativa */
					background-image: url('../imagen/enlace.png');
					background-position: 10px center;
					background-size: 24px;
					background-repeat: no-repeat;
				}
				div.lista-menu div.enlaces div > a:hover, div.lista-menu div.enlaces div > a:active {
					background-color: rgba(0, 0, 0, 0.1);
				}
	div.lista-menu div.title {
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		top: 0; bottom: auto;
		height: 40px; line-height: 40px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		background-color: #a00058;
		color: white;
	}
	div.lista-menu div.title::before {
		content: 'Menú principal';
		display:  block;
		position: absolute;
		margin: auto;
		left: 0; right: 40px;
		top: 0; bottom: auto;
		height: 40px; line-height: 40px;
		color: white;
		padding: 0 10px;
	}
	div.lista-menu div.title div.minre {
		content: '';
		display: block;
		position: absolute;
		margin: auto;
		left: auto; right: 0;
		top: 0; bottom: 0;
		height: 40px; width: 40px;
		background-image: url('../imagen/minimizar.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px auto;
	}
	div.lista-menu div.title div.minre:hover {
		background-color: rgba(0, 0, 0, 0.1);
		z-index: 1;
	}

	/* Forma natural como se le presenta al usuario */
	div.menu {
		position: absolute;
		margin: auto;
		left: 20px; right: auto;
		top: 0; bottom: 0;
		height: 40px; width: 40px;
		transition: 150ms ease all;
	}
		div.title {
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
		}
		div.menu div.minre {
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			background-image: url('../imagen/menu-blanco.png');
			background-repeat: no-repeat;
			background-size: 24px auto;
			background-position: center;
			
		}
		div.menu div.minre:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
		div.menu > div:not(.title) {display:none;}
}

/* Sección - Section */
section.section {
	left: 60px; right: 0;
	top: var(--top); bottom: 60px;
	padding: 20px;
	overflow: auto;
}
	@media screen and (max-width: 1024px) {
		section.section {
			left:0;
			background-color: white;
		}
	}
/* Inicio */
div.inicio {
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 5px 10px;
	max-width: 1200px;
}
	div.parrafos {
		position: relative;
		margin: 0;
		width: 25%; height: 350px;
		transition: 300ms ease all;
	}

	@media screen and (min-width: 1024px) {
		div.parrafos {float:left;}
	}
		div.parrafos > div {
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			border: 4px solid #9f0058;
			border-radius:  30px;
			padding: 5px 10px;
			width: 200px; height: 320px;
			font-size:  0.80rem;
			overflow: hidden;
			text-align: center;
		}

	@media screen and (max-width: 1024px) {
		div.parrafos {
			float:none;
			margin: 0 auto;
			max-width:100%;
			height:auto; width:auto;
		}
			div.parrafos > div {
				position:relative;
				border:0;
				border-radius:0;
				background-color:white;
				width:auto; height:auto;
				font-size: 1rem;
				text-align:justify;
			}
			div.parrafos > div:not(:last-child) {
				border-bottom:1px solid silver !important;
			}
	}
	div.parrafos:nth-child(2n+1) {
	}
	div.inicio img {
		display:  block;
		position: relative;
		margin: 0 auto;
		height:  150px; width: auto;
		max-height: 100%; max-width: 100%;
	}

/* Nosotros */
div.nosotros {
	position: relative;
	line-height: 1.5;
	text-align: justify;
}
	div.nosotros hr {
		position: relative;
		margin: 20px 0;
		border: 0; border-width: 0;
		border-bottom: 1px solid silver;
		width: 90%;
	}
	div.nosotros > div {padding: 0 10px;}

/* Metodología */
div.metodologia {
	position: relative;
}
	div.metodologia div:first-child {
		position: relative;
		margin: 0
	}

/* Contacto */
div.contacto {
	position: relative;
	margin:  0 auto;
}
	div.contacto > div {
		position: relative;
		height:  50px;
		clear: both;
	}
	div.contacto > div div img {
		width: 40px; height: auto;
		float: left;
		margin: 0 10px;
	}

/* Aspecto de la galería fotográfica */
div.galeria {
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
	overflow: auto;
	color: white;
	font-size: 1rem;
}
	div.galeria > h3 {
		color: rgba(143, 0, 88, 1);
		padding: 5px 10px;
		border-bottom: 1px solid silver;
	}
	div.page {
		position: relative;
		margin: 0 auto;
		margin-bottom: 5px;
		min-height: 100%;
	}
		div.albumes {
			position: relative;
			margin: 0 auto;
			padding: 10px;
		}
			div.albumes > h3 {
				position: relative;
				margin: 0 auto;
				background-color: rgb(143, 0, 88);
				padding: 0 10px;
				height: 50px; line-height: 50px;
				border-radius: 20px 0 20px 0;
			}
			div.albumes > div.foto {
				position: relative;
				margin: 5px;
				float: left;
				background-color: #f9f9f9;
				border: 1px solid white;
				box-shadow: 0 0 2px silver;
				overflow: hidden;
				width: 250px; height: 200px;
				border-radius: 0 0 20px 0;
			}
				div.albumes > div.foto a {
					display: block;
					position: absolute;
					margin: auto;
					left: 0; right: 0;
					top: 0; bottom: 0;
					text-decoration: none;
					border: 0; outline: medium none;
					transition: 300ms ease background-color;
				}
				div.albumes > div.foto a:focus,
				div.albumes > div.foto a:hover {
					background-color: rgba(0, 0, 0, 0.1);
				}
				div.albumes > div.foto a:visited {
					background-color: rgba(255, 0, 0, 0.2);
				}
				div.albumes > div.foto img {
					display: block;
					position: absolute;
					margin: auto;
					left: 0; right: 0;
					top: 0; bottom: 0;
					max-width: 90%; max-height: 90%;
					border: 0;
				}
				div.albumes > div.foto div.caption,
				div.albumes > div.foto div.imagen {
					position: absolute;
					margin: auto;
					left: 0; right: 0;
				}
				div.albumes > div.foto div.caption {
					top: auto; bottom: 0;
					height: 40px; line-height: 40px;
					padding: 0 10px;
					background-color: rgba(141, 0, 88, 0.81);
					z-index: 1;
					border-radius: 20px 0 20px 0;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				div.albumes > div.foto div.imagen {
					top: 0; bottom: 0;
					z-index: 0;
				}

/* Ventana Modal */
div.ventana-modal {
	position: fixed;
	margin: auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background-color: rgba(0, 0, 0, 0.90);
	color: white;
	z-index: 10;
}
	div.ventana-modal > div.title {
		height: 40px; line-height: 40px;
		top: 0; bottom: auto;
		padding: 0 10px;
		z-index: 2;
	}
		div.ventana-modal div.title > div.title {
			left: 0; right: 50px;
			color: white;
			padding: 0 10px;
		}
		div.ventana-modal div.title > div.cerrar {
			left: auto; right: 0;
			top: 0; bottom: 0;
			width: 50px; text-align: center;
			font-weight:  bold;
			cursor: default;
		}
		div.ventana-modal div.title > div.cerrar:hover,
		div.ventana-modal div.title > div.cerrar:focus {
			background-color: rgba(255, 0, 0, 0.5);
			transition: 300ms ease background-color;
		}
		div.ventana-modal div.title > div.cerrar::before {
			content: '';
			display:  block;
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			z-index: 1;
		}

	div.ventana-modal div.section,
	div.ventana-modal div.footer,
	div.ventana-modal div.back,
	div.ventana-modal > div.title,
	div.ventana-modal > div.title div.title,
	div.ventana-modal > div.title div.cerrar,
	div.ventana-modal div.next {
		position: absolute;
		margin: auto;
	}
	div.ventana-modal div.section,
	div.ventana-modal div.header,
	div.ventana-modal div.footer,
	div.ventana-modal > div.title {
		left: 0; right: 0;
	}

	div.ventana-modal div.section {
		top: 40px; bottom: 40px;
	}
		div.ventana-modal div.section img {
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			max-height: 100%; max-width: 90%;
		}
	div.ventana-modal div.footer {
		top: auto; bottom: 0;
		height: 40px; line-height: 40px;
		padding: 0 10px;
	}
	div.ventana-modal div.back,
	div.ventana-modal div.next {
		top: 0; bottom: 0;
		width: 150px;
		transition: 200ms ease all;
		z-index: 1;
	}
	div.ventana-modal div.back::before,
	div.ventana-modal div.next::after {
		content: '';
		display: block;
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		top: 0; bottom: 0;
		z-index: 1;
	}
	div.ventana-modal div.back:hover,
	div.ventana-modal div.next:hover,
	div.ventana-modal div.back:focus,
	div.ventana-modal div.next:focus {
		background-color: rgba(0, 200, 0, 0.1);
	}
	div.ventana-modal div.back:active,
	div.ventana-modal div.next:active {
		width: 140px;
		transition: none;
	}
		div.ventana-modal div.back:hover img,
		div.ventana-modal div.next:hover img,
		div.ventana-modal div.back:focus img,
		div.ventana-modal div.next:focus img {
			opacity: 1;
			transition: 300ms ease opacity;
		}
	div.ventana-modal div.back {
		left: 0; right: auto;
	}
	div.ventana-modal div.next {
		left: auto; right: 0;
	}
		div.ventana-modal > div:not(.section) img {
			display: block;
			position: absolute;
			opacity: 0;
			margin: auto;
			top: 0; bottom: 0;
			left: 0; right: 0;
			max-width: 100%;
			height: 70px;
		}

/* Aviso de publicación del Sitio */
div.aviso-desarrollo {
	position: fixed;
	margin: auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	font-size: 1.2rem; /* Tamaño predeterminado de la fuente */
	z-index: 100;
}
	div.aviso-desarrollo > div {
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		top: 0; bottom: 0;
		max-width: 100vw; max-height: 100vh;
		height: 100px; line-height: 100px;
		background-color: rgba(250, 253, 255, 0.1);
		text-align: center;
		padding: 0 10px;
	}
/* Elementos no disponibles */
div.galeria-no-disponible {
	position: fixed;
	margin: auto;
	left: 0; right: 0;
	top: 80px; bottom: 60px;
	background-color: rgba(0, 20, 40, 0.8);
}
	div.galeria-no-disponible::before {
		content: 'La galería estará disponible la próxima semana';
		display: block;
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		top: 0; bottom: 0;
		height: 100px; line-height: 100px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 1.2rem;
		background-color: rgba(255, 255, 255, 0.2);
		text-align: center;
		padding: 0 10px;
		color: white;
	}

/* Aviso */
div.aviso {
	position: fixed;
	margin: auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
}
	div.aviso div.title, div.aviso div.aviso-contenido, div.aviso div.footer {
		position: absolute;
		margin: auto;
		left: 0; right: 0;
	}
		div.aviso div.aviso-contenido img {
			display: block;
			position: absolute;
			margin: auto;
			left: 0;right: 0;
			top: 0; bottom: 0;
			max-width: 100%; max-height: 100%;
		}
	div.aviso div.title {
		height: 40px; line-height: 40px;
		color: white;
		background-color: white;
	}
	div.aviso div.title::before {
		content: 'Aviso';
		display: block;
		position: absolute;
		margin: auto;
		left: 0; right: 55px;
		top: 0; bottom: 0;
		text-align: left;
		padding: 0 10px;
	}
		div.aviso div.title > div.cerrar {
			position: absolute;
			margin: auto;
			left: auto; right: 0;
			top: 0; bottom: 0;
			text-align: center;
			cursor: default;
			width: 55px;
		}
		div.aviso div.title > div.cerrar:hover {
			background-color: rgba(255, 0, 0, 0.6);
		}
	div.aviso div.aviso-contenido {
		top: 40px; bottom: 40px;
	}
