:root {
  --top: 60px;
}
@media screen and (max-width: 1024px) {
  :root {
    --p-font-size: 1.2rem;
  }
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

header.header {
  position: relative;
}
header.header::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  transition: 300ms ease background-color;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  header.header::before {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
header.header img {
  display: block;
}
header.header img.logotipo {
  position: relative;
  padding: 5px 0;
  margin: 0;
  left: 5px;
  max-width: calc(100% - 10px);
  max-height: 80px;
  z-index: 2;
}
header.header img.tramado {
  position: absolute;
  margin: auto;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 100%;
  z-index: 0;
}

main .descargas a {
  text-decoration: none;
  color: #606060;
  border-bottom: 1px dashed;
  padding-bottom: 2px;
}

div.card {
  display: -moz-grid;
  display: -webkit-grid;
  display: -o-grid;
  display: -ms-grid;
  display: grid;
}

.inicio div.card {
  margin: 20px auto;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-grid-gap: 20px;
  -webkit-grid-gap: 20px;
  -o-grid-gap: 20px;
  -ms-grid-gap: 20px;
  grid-gap: 20px;
}
@media screen and (min-width: 1091px) {
  .inicio div.card {
    -moz-grid-template-columns: repeat(4, 230px);
    -webkit-grid-template-columns: repeat(4, 230px);
    -o-grid-template-columns: repeat(4, 230px);
    -ms-grid-template-columns: repeat(4, 230px);
    grid-template-columns: repeat(4, 230px);
  }
}
@media screen and (min-width: 760px) and (max-width: 1090px) {
  .inicio div.card {
    -moz-grid-template-columns: repeat(3, 230px);
    -webkit-grid-template-columns: repeat(3, 230px);
    -o-grid-template-columns: repeat(3, 230px);
    -ms-grid-template-columns: repeat(3, 230px);
    grid-template-columns: repeat(3, 230px);
  }
}
@media screen and (min-width: 510px) and (max-width: 759px) {
  .inicio div.card {
    -moz-grid-template-columns: repeat(2, 230px);
    -webkit-grid-template-columns: repeat(2, 230px);
    -o-grid-template-columns: repeat(2, 230px);
    -ms-grid-template-columns: repeat(2, 230px);
    grid-template-columns: repeat(2, 230px);
  }
}
@media screen and (max-width: 509px) {
  .inicio div.card {
    -moz-grid-template-columns: repeat(1, 0.97fr);
    -webkit-grid-template-columns: repeat(1, 0.97fr);
    -o-grid-template-columns: repeat(1, 0.97fr);
    -ms-grid-template-columns: repeat(1, 0.97fr);
    grid-template-columns: repeat(1, 0.97fr);
  }
}
.inicio div.card > .item {
  transition: 300ms ease all;
  background-color: #ffedf7;
  color: #6d003c;
  border: 5px solid #a00058;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(160, 0, 88, 0.3);
  padding: 10px;
  text-align: center;
}
@media screen and (max-width: 510px) {
  .inicio div.card > .item {
    border-width: 1px;
    border-color: rgba(160, 0, 88, 0.2);
    border-radius: 0;
  }
}

.nosotros {
  min-height: 200px;
}
.nosotros div.card {
  position: relative;
  width: auto;
  min-height: 100px;
  grid-template-columns: 3fr auto;
  grid-gap: 10px;
}
@media screen and (max-width: 650px) {
  .nosotros div.card {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 651px) {
  .nosotros div.card .item {
    display: -moz-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
}
.nosotros div.card .item > div.caption {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  color: #707070;
}
.nosotros div.card .item > img {
  display: block;
  margin: 5px auto;
  max-height: 600px;
}

div.metodologia div.grid {
  display: -moz-grid;
  display: -webkit-grid;
  display: -o-grid;
  display: -ms-grid;
  display: grid;
  margin: 10px auto;
  position: relative;
}
div.metodologia div.grid.column-2 {
  -moz-grid-template-columns: repeat(2, 1fr);
  -webkit-grid-template-columns: repeat(2, 1fr);
  -o-grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-grid-gap: 10px;
  -webkit-grid-gap: 10px;
  -o-grid-gap: 10px;
  -ms-grid-gap: 10px;
  grid-gap: 10px;
  max-width: 980px;
}
@media screen and (max-width: 600px) {
  div.metodologia div.grid.column-2 {
    -moz-grid-template-columns: 1fr;
    -webkit-grid-template-columns: 1fr;
    -o-grid-template-columns: 1fr;
    -ms-grid-template-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
div.metodologia div.grid.column-2 .item {
  position: relative;
}
div.metodologia div.grid.column-2 .item img {
  display: block;
  position: relative;
  max-width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 5px;
  border: 1px solid white;
  background-color: #f7f7f7;
}

div.aviso {
  display: none;
}

.viewport--width {
  width: 100vw;
}
.viewport--height {
  min-height: 100vh;
}

.default--width {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.rrss {
  list-style: none;
  padding: 0 40px;
}
.rrss--item {
  min-height: 50px;
  display: flex;
  max-width: 500px;
  padding: 0;
  margin: 0;
}
.rrss--link {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #4c0c2f;
  outline: medium none;
  transition: 300ms ease;
  transform-origin: left center;
}
.rrss--link:hover {
  color: #a41a65;
}
.rrss--link:focus {
  background-color: rgba(76, 12, 47, 0.1);
}
.rrss--link:active {
  transition: none;
  transform: rotateY(10deg);
}
.rrss span::after {
  content: " ";
}

.contactos--title {
  padding-left: 20px;
}

footer {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: 60px;
  background-color: #9f0058;
  color: white;
  padding: 5px 10px;
  /* Imagen de fondo */
  background-image: url("../imagen/barra-menu.png");
  background-size: auto 100%;
  z-index: 2;
}

.fc--twitter:hover {
  color: #1da1f2;
}
.fc--facebook:hover {
  color: #3b5998;
}

/*# sourceMappingURL=style.css.map */
