footer {
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	top: auto; bottom: 0;
	height: 60px;
	background-color: #9f0058;
	color: white;
	padding: 5px 10px;

	/* Imagen de fondo */
	background-image: url('../imagen/barra-menu.png');
	background-size: auto 100%;
	z-index: 2;
}