* {
	box-sizing: border-box;
	
	&::before, &::after {
		box-sizing: inherit;
	}
}
header.header {
	position: relative;
	// outline: 1px dashed blue;

	&::before {
		content: "";
		display: block;
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		top: 0; bottom: 0;
		background-color: transparent;
		transition: 300ms ease background-color;
		z-index: 1;

		@media screen and (max-width: 600px) {
			background-color: rgba(white, 0.6);
		}
	}
	
	img {
		display: block;
	}

	img.logotipo {
		position: relative;
		padding: 5px 0;
		margin: 0;
		left: 5px; max-width: calc(100% - 10px);
		max-height: 80px;
		z-index: 2;
	}
	img.tramado {
		position: absolute;
		margin: auto;
		left: auto; right: 0;
		top: 0; bottom: 0;
		max-height: 100%;
		z-index: 0;
	}
}