main {
	.descargas {
		a {
			text-decoration: none;
      color: #606060;
      border-bottom: 1px dashed;
      padding-bottom: 2px;
		}
	}
}
// Tarjetas 
div.card {
	@include prefijo-valor(display, grid, $prefijos);
}

// INICIO
.inicio div.card {
	margin: 20px auto;
	@media screen and (min-width: 1091px) {
		@include prefijo(grid-template-columns, repeat(4, 230px), $prefijos);
	}
	@media screen and (min-width:760px) and (max-width: 1090px) {
		@include prefijo(grid-template-columns, repeat(3, 230px), $prefijos);
	}

	@media screen and (min-width: 510px) and (max-width: 759px) {
		@include prefijo(grid-template-columns, repeat(2, 230px), $prefijos);
	}

	@media screen and (max-width: 509px) {
		@include prefijo(grid-template-columns, repeat(1, 0.97fr), $prefijos);
	}
	
	@include prefijo(justify-content, center, $prefijos);
	@include prefijo(grid-gap, 20px, $prefijos);
	
	& > .item {
		transition: 300ms ease all;
		$color: #a00058;
		background-color: lighten($color, 65);
		color: darken($color, 10);
		border: 5px solid $color;
		border-radius: 15px;
		box-shadow: 0 0 10px rgba($color, 0.3);
		padding: 10px;
		text-align: center;

		@media screen and (max-width: 510px) {
			border-width: 1px;
			border-color: rgba($color, 0.2);
			border-radius: 0;
		}
	}
}

// SOBRE NOSOTROS
.nosotros {
	min-height: 200px;

	div.card {
		position: relative;
		width: auto;

		min-height: 100px;
		grid-template-columns: 3fr auto;
		grid-gap: 10px;
		@media screen and (max-width: 650px) {
			grid-template-columns: 1fr;
		}

		.item {
			@media screen and (min-width: 651px) {
				@include prefijo-valor(display, flex, $prefijos);
				@include prefijo(flex-direction, column, $prefijos);
				@include prefijo(justify-content, center, $prefijos);
			}
			& > div.caption {
				position: relative;
				text-align: center;
				font: {
					size: 0.9rem;
					style: italic;
				}
				color: #707070;
			}
			> img {
				display: block;
				margin: 5px auto;
				max-height: 600px;

			}
		}
	}
}

div.metodologia {
	div.grid {
		@include prefijo-valor(display, grid, $prefijos);
		margin: 10px auto;
		position: relative;

		&.column-2 {
			@include prefijo(grid-template-columns, repeat(2, 1fr), $prefijos);
			@include prefijo(justify-content, center, $prefijos);
			@include prefijo(grid-gap, 10px, $prefijos);
			
			@media screen and (max-width: 600px) {
				@include prefijo(grid-template-columns, 1fr, $prefijos);
			}

			max-width: 980px;
			.item {
				position: relative;

				img {
					display: block;
					position: relative;
					max-width: 100%;
					box-shadow: 2px 2px 5px rgba(black, 0.4);
					padding: 5px; 
					border: 1px solid white;
					background-color: #f7f7f7;
				}
			}
		}
	}
}

div.aviso {display: none}

// Clases personalizadas
.viewport {
  &--width {
    width: $viewport-width;
  }

  &--height {
    min-height: $viewport-height;
  }
}

.default {
  &--width {
    margin: 0 auto;
    width: $width;
    max-width: $max-width;
  }
}

.rrss {
	list-style:none;
  padding: 0 40px;

	&--item {
		min-height: 50px;
    display: flex;
    max-width: 500px;
    padding: 0;
    margin: 0;
	}

	&--link {
		text-decoration: none;
		display: flex;
    align-items: center;
    width: $width;

    padding: 10px;

    color: $color-base;
    outline: medium none;
    transition: 300ms ease;
    transform-origin: left center;

    &:hover {
      color: lighten($color-base, 20);
    }

    &:focus {
      background-color: rgba($color-base, 0.1);
    }

    &:active {
      transition: none;
      transform: rotateY(10deg);
    }
	}

	span {
		&::after {
			content: " ";
		}
	}
}

.contactos {
  &--title {
    padding-left: 20px;
  }
}