// Propiedades con prefijo
@mixin prefijo($propiedad, $valor, $prefijos) {
	@each $prefijo in $prefijos {
		-#{$prefijo}-#{$propiedad}: $valor;
	}

	#{$propiedad}: $valor;
}

// Prefijo en el valor de una propiedad CSS
@mixin prefijo-valor($propiedad, $valor, $prefijos) {
	@each $prefijo in $prefijos {
		#{$propiedad}: -#{$prefijo}-$valor;
	}

	#{$propiedad}: $valor;
}