$color-base: #4c0c2f;

$prefijos: ("moz", "webkit", "o", "ms");

// Variables CSS
:root {
	--top: 60px;

	@media screen and (max-width: 1024px) {
		--p-font-size: 1.2rem;
	}
}

// Anchuras predeterminadas
$width: 100%;
$max-width: 1200px;

// Anchura para el Viewport
$viewport-width: 100vw;
$viewport-height: 100vh;


// Colores en las redes sociales
$color-twitter: #1da1f2;
$color-facebook: #3b5998;